.image {
  margin-top: -25px;
  height: 500px;
  width: 1300px;
  overflow: hidden;
  animation: frank 35s infinite;
  /* animation: name duration timing-function delay iteration-count direction
      fill-mode; */
}
@keyframes frank {
  0% {
    background-image: url(D:\angularprojects\projectangular\src\assets\62.jpg);
  }
  25% {
    background-image: url(D:\angularprojects\projectangular\src\assets\48.jpg);
  }
  50% {
    background-image: url(D:\angularprojects\projectangular\src\assets\49.jpg);
  }
  75% {
    background-image: url(D:\angularprojects\projectangular\src\assets\50.jpg);
  }
  100% {
    background-image: url(D:\angularprojects\projectangular\src\assets\51.jpg);
  }
}
